#app {
	padding: 1em;
	background-color: hsl(var(--h), 50%, 90%);
	>h1 {
		font-size: 3em;
		text-align: center;
	}
}
#lien-panier a::before {
	content: "🛒\fe0e";
	font-weight: normal;
	font-size: 1.5em;
	position: relative;
	top: .1em;
	margin-right: .25em;
	line-height: 0;
}