#interface > nav {
	background-color: hsl(var(--h), 100%, 30%);
	color: white;
	font-weight: bold;
	ul {
		margin: 0 auto;
		padding: 0;
		list-style-type: none;
		display: grid;
		width: var(--largeur);
		grid-auto-flow: column;
		justify-content: center;
	}
	li:hover {
		background-color: hsl(var(--h-2), 100%, 25%);
	}
	a {
		color: inherit;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2em;
		padding: 0 1em;
	}
	@media screen and (width < 720px) {
		&::before {
			//hamburger
			content: "☰";
			width: 1.5em;
			height: 1.5em;
			color: white;
			font-size: 2em;
			cursor: pointer;
			position: absolute;
			margin-top: -1.5em;
			right: 0em;
			line-height: .8;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&:not(:focus-within) ul {
			display: none;
		}
		ul {
			font-size: 1.5em;
			position: absolute;
			right: 0;
			background-color: hsl(var(--h), 100%, 30%);
			grid-auto-flow: row;
		}
	}
}