#ajout_panier {
	display: grid;
	grid-template-columns: 1fr 5em;
	gap: 1em;
	width: 20em;

	> div {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1em;

		button:last-child {
			background-color: transparent;
			color: hsl(var(--h), var(--s), calc(var(--l) - 20%));
			border: 3px solid;
		}
	}

	input {
		text-align: right;
		// padding-right: 1em;

	}
}

#panier {
	ul {
		list-style: none;
		padding: 1em 0;
		margin: 0;
		grid-template-columns: auto 1fr 3em 5em 5em;
		display: grid;
		gap: .5em 1em;

		img {
			width: 2em;
			height: 2em;
			object-fit: cover;
			object-position: center;
		}

		.quantite,
		.prix,
		.total,
		.sous-total {
			text-align: right;
		}

		li {
			display: contents;
		}

		.total {
			display: block;
			grid-column: 1 / -1;
			text-align: right;
			border-top: solid 1px;
		}
	}
	>div {
		display: grid;
		grid-template-columns: 10em 10em;
		justify-content: space-between;
		
	}
}